@page
@model TémaLab.UserDetailModel

@{
    ViewData["Title"] = "UserDetail";

}
    <form method="post" id="AddFriendForm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/Images/profipic.png">
            <div class="card-body">
                <h5 class="card-title">@Model.user.UserName</h5>
                Rank: @Model.user.rank <br>
                Score: @Model.user.score <br>
                <p class="card-text">@Model.user.Introduction</p>
                @if (Model.user.Id == Model.thisId)
                {
                    <a type="button" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index" id="EditProfileLink">Edit profile</a>
                }
                else
                {
                    if (Model.userSignedin)
                    {
                        if (Model.alreadyAdded)
                        {
                            <p>Already added</p>
                        }
                        else
                        {
                            <button class="btn btn-primary" asp-page-handler="Addfriend" asp-route-id="@Model.user.Id">Add Friend</button>
                        }
                    }
                }

            </div>
        </div>
    </form>
        