@page
@model TémaLab.UserDetailModel

@{
    ViewData["Title"] = "UserDetail";

}
<div>
    <form method="post" id="AddFriendForm">
        <img class="img-fluid" src="~/Images/profipic.png" width="40" height="50">
        <h3>@Model.user.UserName</h3>
        <ul class="list-gourp">
            <li class="list-group-item">
                @if (Model.user.Id == Model.thisId)
                {
                    <a type="button" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index" id="EditProfileLink">Edit profile</a>
                }
                else
                {

                    <button class="btn btn-default" asp-page-handler="Addfriend" asp-route-id="@Model.user.Id">Add Friend</button>

                }

            </li>
            <li class="list-group-item">
                Rank: @Model.user.rank
            </li>
            <li class="list-group-item">
                Score: @Model.user.score
            </li>
        </ul>
        <span>
            About me: <br>
            @Model.user.Introduction
        </span>
    </form>
</div>
