@model TémaLab.Data.DTOs.CompetitionDto
@{
    Layout = null;
}


<div class="card">
    <div class="card-body">
        <a asp-page="./Details" asp-route-id="@Model.Id"><h2 class="card-title">@Model.Title</h2></a>
        <p class="card-text">@Model.Content</p>
        <button>Register Me</button>
    </div>
    <div class="card-footer">
        <p class="card-text text-muted float-left CompetitionFotterText">Registerd Competitors: @Model.Participations.Count() </p>
        <a class="nicelink"><p class="float-right CompetitionFotterText">@Model.User.UserName</p></a>
        <p class="card-text text-muted float-right CompetitionFotterText">
            Created by:
        </p>
    </div>
</div>
