@page
@model TémaLab.UpcomingCompetitionsModel
@{
    ViewData["Title"] = "UpcomingCompetitions";

}




    <div class="container">
        <div class="row">
            <h1 class="Title">UpcomingCompetitions</h1>
        </div>
        <!--Ez alá szépen jönnek be az események-->
        <div class="row" id="EventContainer">
            @foreach (var comp in Model.Competions)
            {
                <div class="card Event">
                    <div class="card-body">
                        <h2 class="card-title">@comp.Title</h2>
                        <p class="card-text">@comp.Content</p>
                        <a class="nicelink" asp-page="./Details" asp-route-id="@comp.Id">Take me to Competition</a>
                        <button>register me</button>
                        <a asp-page="./Edit" asp-route-id="@comp.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@comp.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@comp.Id">Delete</a>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-muted float-left CompetitionFotterText">Registerd Competitors:  </p>
                        <a class="nicelink"><p class="float-right CompetitionFotterText">@comp.User.UserName</p></a>
                        <p class="card-text text-muted float-right CompetitionFotterText">
                            Created by:
                        </p>
                    </div>
                </div>
            }

        </div>
    </div>
